/*BEGIN align icon on event view*/

.portfolio-image .fa{line-height:24px !important;
float:left; margin-right:5px;
}
.portfolio-image .user-picture{float:none;}
/*END align icon on event view*/

/******** to be moved to style.css *******/
/*BEGIN INDIE EVENT FORM CUSTOM CSS*/
html.js input.form-autocomplete {
background-position: 100% 20px !important;
size: 40;
}

<<<<<<< HEAD
=======
.form-text {
	size: 40;
}
>>>>>>> 9c75137b9d6f5129258e79ed949c389adc576360
/*END INDIE EVENT FORM CUSTOM CSS*/


/* Begin of Button for filter */



#Menu-Button .btn{}
.bouton{
width:120px;
height:35px;
background: #ededed;
color:white;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

#Menu-Button .btn:hover,
#Menu-Button .btn:active,
#Menu-Button .btn.active,
#Menu-Button .btn.disabled,
#Menu-Button .btn[disabled] {
  color: black;
  *background-color: #CD2D78;
  *background-color: #d9d9d9;
  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #cecece);
  background-image: -o-linear-gradient(top, #ffffff, #cecece);
  background-image: linear-gradient(to bottom, #ffffff, #cecece);
  background-image: -moz-linear-gradient(top, #ffffff, #cecece);
  background-repeat: repeat-x;
  
}
.portfolio-filters ul li a {
margin: 0 0 0px;
}

#Menu-Button{
float:right;
border-radius:1px solid black;
}
#container{

*border:1px solid black;
position: relative;
width: 1125px;
height: 50px;
*background-color:#cecece;
}
#Menu-Button,
#container{
display:inline-block;
}
#div-1,
#div-2,
#div-3{
border-radius:1px solid grey;
padding:5px;
background-color:#f5f5f5;
}

a.glyphicon-map-marker,
a.glyphicon-fire,
a.glyphicon-headphones,
a.glyphicon-calendar{
	color:black;
}


/* End of Button for filter */



/* Begin of Logintoboggam */

.toboggan-unified #login-links a.lt-active, 
.toboggan-unified #login-links a.lt-active:hover {
background-color: #CD2D78;
color:black;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #CD2D78);
  background-image: -o-linear-gradient(top, #ffffff, #CD2D78);
  background-image: linear-gradient(to bottom, #ffffff, #CD2D78);
  background-image: -moz-linear-gradient(top, #ffffff, #CD2D78);
  background-repeat: repeat-x;

}


/* End of Logintoboggan */


/* Timeline */
#tline-content {
  background: url("../images/bg-timeline.png") repeat-y scroll center center rgba(0,0,0,0);
  margin: 0 auto;
  overflow: visible; 
}

  .tline-box {
  border: 1px solid #ECEEF0;
  border-radius: 2px;
  margin-top: 20px;
  min-height: 160px;
  padding: 10px 10px 20px;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
  width: 500px;
  margin: 20px 26px 20px 26px;
}
.tline-box.rgtline {
  clear: right;
  float: right;
  margin-top: 53px;
  right: 0;
}
.pin-box,
.tline-box {
  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  float: left;
}
/*end of Timeline override */
