/******** to be moved to style.css *******/
/*BEGIN align icon on event view*/

.portfolio-image .fa{line-height:24px !important;
float:left; margin-right:5px;
}
.portfolio-image .user-picture{float:none;}
/*END align icon on event view*/

/******** to be moved to style.css *******/
/*BEGIN INDIE EVENT FORM CUSTOM CSS*/
html.js input.form-autocomplete {
background-position: 100% 20px !important;
size: 40;
}

<<<<<<< HEAD
=======
.form-text {
	size: 40;
}
>>>>>>> 9c75137b9d6f5129258e79ed949c389adc576360
/*END INDIE EVENT FORM CUSTOM CSS*/


